@model IEnumerable<MvcCoreAWSDynamoDB.Models.Coche>

@{
    ViewData["Title"] = "ListCoches";
    List<String> imgs = ViewData["bucket"] as List<String>;
}

@if(imgs != null)
{
    @foreach(String foto in imgs)
    {
        <h1>nombre: @foto</h1>
    }
}

@if (Model.Count() < 1 )
{
    <h1>Sin coches, cree un nuevo coche para añadir a la lista</h1>
    <p>
        <a asp-action="CreateCar" asp-controller="Coches">
            Crear un nuevo coche
        </a>
    </p>
}
else
{
    <h1>ListCoches</h1>

    <p>
        <a asp-action="CreateCar" asp-controller="Coches">
            Crear un nuevo coche
        </a>
    </p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCoche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VelocidadMaxima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCoche)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VelocidadMaxima)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imagen)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    <a asp-action="DetailsCoche" asp-controller="Coches" asp-route-id="@item.IdCoche">
                        Detalles
                    </a> |
                    <a asp-action="DeleteCar" asp-controller="Coches" asp-route-idCoche="@item.IdCoche">
                        Eliminar
                    </a> |
                </td>
            </tr>
        }
    </tbody>
</table>
}
